.calculator{
  border: none;
  height: 100%;
  background-color: rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(110, 110, 110);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 1rem .5rem;
  width: 70%;
}

.display{
  background-color: white;
  height: 20%;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.inputs{
  height: 3.3rem;
  width: 100%;
}

.inputs input{
  width: 100%;
  height: 30%;
  text-align: right;
  outline: none;
  border: none;
  background-color: transparent;
}



.prog{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.prog div{
  height: 40px;
}

.myprog{
  background-color: transparent;
}

.myprog input{
  height: 100%;
  width: 85%;
  padding-left: 3.5rem;
  padding-top: 1.8px;
  align-items: center;
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: transparent;
}

/* .myprog .labeling{
  position: absolute;
  margin: 5px;
  font-size: 1.3rem;
  background-color: transparent;
  color: #444444;
} */


@media (min-width: 1217px) {
  .calculator{
    width: 33%;
  }
  .display{
    height: 20%;
  }
}

@media (max-width: 980px) {
  .display{
    height: 20%;
  }
}

@media (max-width: 665px) {
 .calculator{
  width: 65%;
 }
}

@media (max-width: 490px) {
  .calculator{
    width: 85%;
   }
  .display{
    height: 20%;
  }
  .inputs{
    height: 2rem;
    margin: 0;
    padding: 0;
  }
  .myprog input{
    margin: 0;
    font-size: 1rem;
    padding-top: 0;
    height: 80%;
    padding-left: 2.7rem;
  }

}

@media (max-width: 394px) {
  .calculator{
    width: 80%;
   }
  .display{
    height: 10%;
    width: 90%;
  }
}

